*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
*.xcworkspacedata
xcuserdata/

*.opensdf
*.sdf
*.suo
*.ipch

.svn/
obj/

build/
!data/
*.xcuserstate

*.xcuserstate

example/ofxARToolKitPlusExample.xcodeproj/xcshareddata/xcschemes/ofxARToolKitPlusExample Debug.xcscheme

example/ofxARToolKitPlusExample.xcodeproj/xcshareddata/xcschemes/ofxARToolKitPlusExample Release.xcscheme

example/ofxARToolKitPlusExample.xcodeproj/xcshareddata/xcschemes/ofxARToolKitPlusExample Release.xcscheme

example/ofxARToolKitPlusExample.xcodeproj/project.xcworkspace/xcuserdata/jameskong.xcuserdatad/UserInterfaceState.xcuserstate

example/ofxARToolKitPlusExample.xcodeproj/project.xcworkspace/xcuserdata/jameskong.xcuserdatad/UserInterfaceState.xcuserstate
